body {
    background-color: #1f2937;
    font-family: Roboto, sans-serif;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.info {
    background-color: #fff;
    color: #1f2937
}

.quote {
    background-color: #e4e6ea;
    color: #1f2937;
}

.call {
    background-color: #fff;
    color: #1f2937;
}