@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1f2937;
    font-family: Roboto, sans-serif;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1080px;
    margin: auto;
}

.nav {
    padding: 20px 0;
}

.nav .content {
    display: flex;
    gap: 22px;
}

.nav a {
    text-decoration: none;
    color: #f9faf8;
}

.nav a:hover {
    text-decoration: underline;
}

.nav .logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}

.nav .logo:hover {
    text-decoration: none;
}

.header {
    padding: 100px 0;
}

.header .content {
    display: flex;
    gap: 20px;
}

.header .title {
    width: 50%;
}

.header .image {
    width: 50%;
    max-width: 530px;
    max-height: 240px;
}

.header img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.header h1 {
    margin: 12px 0;
    font-size: 49px;
    font-weight: 900;
}

.header h2 {
    margin: 12px 0;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}

.header .signup {
    display: inline-block;
    background-color: #3882f6;
    border-radius: 10px;
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.header .signup:hover {
    background-color: #aaa;
}

.info {
    background-color: #fff;
    color: #1f2937
}

.info .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
}

.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.info .carrousel {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info .illustration {
    width: 180px;
}

.info .illustration img {
    box-sizing: border-box;
    width: 180px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.info .illustration .subtext {
    text-align: center;
    color: #636a75;
}

.quote {
    background-color: #e4e6ea;
    color: #1f2937;
}

.call {
    background-color: #fff;
    color: #1f2937;
}